**/.vscode
**/config
**/dist
**/fast-serve
**/lib
**/node_modules
**/release
**/sharepoint
**/teams
**/temp
**/package-lock.json
**/package.json
**/README.md
**/tsconfig.json
**/.yo-rc.json
**/gulpfile.js
**/.npmignore
**/.gitignore
**/.eslintrc.js
**/.prettierignore
**/.prettierrc
**/src/webparts/app/loc
**/src/webparts/app/assets